{{> base_head}}
<header class="header section">
  <div class="container">
    <h1 class="title">{{title}}</h1>
  </div>
</header>
<section class="section">
  <div class="container">
    <article class="page-content">
      {{{content}}}
    </article>
  </div>
</section>
{{> base_tail}}
