<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <title>{{page_title}} | {{site_name}}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="author" content="{{page_author}}">
   <link rel="stylesheet" href="/css/main.css">
 </head>
 <body>
   {{{page_content}}}
 </body>
</html>
