<li class="page-list-item">
  <h3>{{page_title}}</h3>
  <div class="page-meta">
    {{#page_has_datetime}}
    <time datetime="{{page_datetime}}">{{page_datetime}}</time>
    {{/page_has_datetime}}
    {{#page_has_tags}}
    <ul>
      {{#page_tags}}
      <li>{{name}}</li>
      {{/page_tags}}
    </ul>
    {{/page_has_tags}}
  </div>
<li>
